@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --heading-font: "Roboto Slab", serif;
    --non-heading-font: "Roboto", sans-serif;
    --heading-color: #004529;
    --non-heading-color: #220906;
}
html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
content { width: 1000px }
nav {
    font-family: var(--heading-font);
    color: var(--heading-color);
    display: block;
    padding: 10px;
    text-align: left;
}
#hero {
    border: 2px red;
    position: relative;
}
#hero img{
    width: 100%;
}
#hero article img {
    width: 200px;
    float: right;
}
article {
    position: absolute;
    top: 200px;
    width: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgba(249, 218, 45, 0.7);
    padding: 1rem;
}
h1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-family: var(--heading-font);
    color: white;
    font-size: 30px;
    background-color: #004529;
}
main {
    max-width: 1020px;
    color: var(--non-heading-color);
    text-align: center;
    position: relative;
}
h2 {
    font-family: var(--heading-font);
    font-size: 20px;
}
footer {
    margin: 2rem;
    border: 3px solid rgb(0 0 0/ 0.2);
    text-align: center;
    color: var(--non-heading-color);
    text-decoration: none;
}

footer a {
    text-decoration: none;
    clear: both;
    width: 100%;
}